<section>
  <div>
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
</section>

<% @posts.each do |post| %>
<section>
  <div>
    <div>
      <h2><a href="/users/<%= @user.id %>/posts/<%=post.id%>"><%= post.title %></a></h2>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    </div>
    <% unless post.recent_comments.empty? %>
    <div>
    <% post.recent_comments.each do |comment| %>
      <p>
       <%= comment.user.name %>: <%= comment.text %>
     </p>
    <% end %>
    </div>
    <% end %>
  </div>
</section>
<%end%>